* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: cornflowerblue;
}

.container {
    max-width: 1128px;
    margin: 1.5rem auto;
}

.note-img {
    width: 50px;
}


.container h1 {
    color: #fff;
    padding: 1rem 0;
    display: inline-block;
}

.create img {
    width: 30px;
    padding: 0 .5rem;
}

.create {
    display: block;
    width: 100px;
    padding: .6rem;
    border: 0;
    border-radius: 25px;
    font-weight: 600;
    background-color: rgb(9, 43, 106);
    color: #fff;
}

.notes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.note-p {
    width: 30%;
    min-height: 120px;
    /* height: 30%; */
    font-size: 1.2rem;
    position: relative;
    padding: .6rem;
    background-color: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
    outline: 0;
    margin-top: 2rem;
    line-height: 30px;
}

.note-p:focus {
    outline: 1px solid cornflowerblue;
}

.note-p img {
    width: 15px;
    position: absolute;
    right: .5rem;
    bottom: 1rem;
}